@import '../../../sass/varialbes'

\:host
  display: block

table
  background-color: $white
  font-weight: bold

thead
  th
    font-weight: initial
    background-color: $lightGreen

    &:last-child
      text-align: center

tr
  cursor: pointer

.selected
  background-color: $yellow !important

.danger
  background-color: $red

td
  &:last-child
    text-align: center

object
  fill: $lightGreen

.grid-container
  max-height: 260px
  overflow: scroll
  padding: 5px
