<div class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header" id="main">Students management</div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="mb-3 float-right">
                  <app-grid-view [activeGridView]="gridView$ | async"></app-grid-view>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="row mb-3">
                  <div class="col-lg-6 mb-3">
                    <ng-select (change)="onSelectYear($event)" placeholder="Choose Year">
                      <ng-option *ngFor="let year of years$ | async" [value]="year">
                        {{ year }}
                      </ng-option>
                    </ng-select>
                  </div>
                  <div class="col-lg-6">
                    <ng-select
                      (change)="onSelectClass($event)"
                      placeholder="Choose Class"
                      [(ngModel)]="selectedClassType"
                    >
                      <ng-option *ngFor="let classType of classTypes$ | async" [value]="classType">
                        {{ classType }}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                <app-student-grid
                  [gridView]="gridView$ | async"
                  [students]="students$ | async"
                  [selected]="selectedStudent$ | async"
                >
                </app-student-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="selectedStudent$ | async as selectedStudent" class="row">
      <div class="col-lg-12 mt-4">
        <app-student-details
          [student]="selectedStudent"
          [showCard]="(gridView$ | async) === gridView.LIST"
        ></app-student-details>
      </div>
    </div>
  </div>
</div>
