<div class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">Students mangment</div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">options</div>
              <div class="col-lg-6">list</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">details</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
