<div class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">Students mangment</div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="mb-3 float-right">
                  <app-grid-view></app-grid-view>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="row">
                  <div class="col-lg-6">
                    <ng-select (change)="onSelectYear($event)" placeholder="Choose Year">
                      <ng-option *ngFor="let year of years$ | async" [value]="year">
                        {{ year }}
                      </ng-option>
                    </ng-select>
                  </div>
                  <div class="col-lg-6">
                    <ng-select
                      (change)="onSelectClass($event)"
                      placeholder="Choose Class"
                      [(ngModel)]="selectedClassType"
                    >
                      <ng-option *ngFor="let classType of classTypes$ | async" [value]="classType">
                        {{ classType }}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                <app-student-grid
                  [gridView]="gridView$ | async"
                  [students]="students$ | async"
                  [selected]="selectedStudent$ | async"
                >
                </app-student-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="selectedStudent$ | async as selectedStudent" class="row mt-4">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-2">photo</div>
              <div class="col-3">
                Name: <b>{{ selectedStudent.fname }}</b>
                <br />
                S.Name: <b>{{ selectedStudent.lname }}</b>
              </div>
              <div class="col-2">
                Class: <b>Biology</b>
                <br />
                Year: <b>{{ selectedStudent.year }}</b>
              </div>
              <div class="col-5">
                Score: <b>{{ selectedStudent.grade }}</b>
              </div>
            </div>

            <div class="row">
              <div class="col-12">editor</div>
              <div class="col-12">
                <div class="float-right">
                  <button>Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
